@use "./variables" as *;

@mixin mq($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin customVerticalScroll {
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-width: 3px;
  scrollbar-height: 3px;
  scrollbar-color: $primary $main-bg;

  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: $main-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 8px;

    &:hover {
      background: $primary-deep;
    }
  }
}

@mixin customHorizontalScroll {
  scrollbar-gutter: stable both-edges;

  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: $main-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 8px;

    &:hover {
      background: $primary-deep;
    }
  }
}

@mixin drop {
  @keyframes drop {
    from {
      opacity: 0;
      transform: translateY(-10vh);
    }
    to {
      opacity: 1;
      transform: translateY(unset);
    }
  }

  animation: drop 0.7s ease-in-out;
}

@mixin scale {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primary;
    transform: scale(1.2);
  }
}
