$white-bg: #ffffff;
$main-bg: #f8f8f8;
$comp-bg: #fcfcfc;
$section-bg: #fafafa;
$white-text: #fcfcfc;
$primary: black;
$transparent-primary: #13895180;
$primary-deep: #0e633b;
$primary-light: #f0f7f4;
$white: #fefefe;
$dark-text: #14151a;
$dark-text-3: #4a4a4a;
$light-text: #828282;
$dark-border: #d0d5dd;
$gray-bg: rgba(11, 36, 24, 0.4);
$btn-shadow: 0px 12px 32px rgba(19, 137, 81, 0.25);
$modal-bg: hsla(153, 35%, 88%, 0.486);
$shadow: rgba(115, 115, 115, 0.2);
$header-family: "Urbanist", sans-serif;
$body-family: "Urbanist", sans-serif;
